{% extends "@User/layout.html.twig" %}
{% block dashbordContent %}

 <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{path('adminDashboard')}}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active"> {{article.title}}</li>
        </ol>
<div class="container">
    <h3>{{article.title}}</h3><br>
    <img src="{{ asset('uploads/images/'~ article.image) }}"/><br>
    <p>{{article.description | raw }}</p><br>
    <small class="float-right"> Crée le {{article.createdAt | date ('d/m/y')}} at {{article.createdAt|date('H:i')}}</small><br>
    <small class="float-right">Modifié le {{article.lastUpdatedAt | date ('d/m/y')}} at {{article.lastUpdatedAt|date('H:i')}}</small><br>
    <a href="{{path('deleteArticle',{'slug':article.slug})}}" class='btn btn-danger'>Supprimer </a>
    </div>
{% endblock %}

